html {
    scroll-behavior: smooth
}

.nav-item,
footer,
h2,
h3,
h4 {
    text-align: center
}

.navbar {
    background-color: #f3e9f1
}

.collapse {
    margin-left: 4%;
    display: flex
}

.nav-item {
    color: #8a2387;
    font-weight: 700;
    margin-right: 35px
}

.nav-item:hover {
    color: #d17307
}

header {
    background: url(media/appareil.jpeg) no-repeat 50% 50%;
    background-size: cover;
    height: 70vh;
    border-radius: 0 0 20px 20px;
    margin-bottom: 40px
}

body {
    background-color: #f3e9f1
}

#shop {
    background-color: rgba(162, 101, 193, .1);
    border-radius: 20px;
    padding: 25px;
    margin-bottom: 20px
}

.elements {
    padding: 70px 0
}

.elements img {
    border-radius: 20%;
    width: 280px
}

.elements p {
    font-size: 1.2em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    padding-right: 20px;
    margin-left: 100px
}

.elements .button {
    text-align: right;
    margin: 15px 4% 0 0;
    color: red
}

footer {
    background-color: rgba(203, 187, 211, .1);
    padding: 25px 0 20px 5px
}

@media screen and (max-width:800px) {
    h1 {
        font-size: 3em
    }
    .elements {
        padding: 15px 0;
        text-align: center
    }
    .elements img {
        min-width: 140px;
        margin-top: 40px;
        margin-bottom: 10px
    }
    .elements p {
        margin-left: inherit
    }
    .elements button {
        display: block;
        margin-left: auto;
        margin-right: auto
    }